.admin-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.card {
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 98%;
  padding: 6px;
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
}

button {
  padding: 0.35rem 0.9rem;
  border-radius: 4px;
  border: 1px solid #5a36d6;
  background-color: #6540e0;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
  margin-right: 10px;
}

button:hover {
  background-color: #5435c6;
}

.btn-danger {
  background: red;
  border: red;
}

.btn-danger:hover {
  background-color: #c9302c;
}

.msg {
  color: #2d8a34;
  font-weight: bold;
  margin-bottom: 6px;
}

.err {
  color: #c62828;
  font-weight: bold;
  margin-bottom: 6px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.75rem;
  font-size: 0.95rem;
}

thead {
  background-color: #f4f2ff;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.4rem 0.5rem;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}

h2 {
    text-align: center;
}