.home-container {
  padding: 20px;
}

.header {
  margin-bottom: 15px;
  text-align: center;
}

.login-btn {
  padding: 0.35rem 0.9rem;
  border-radius: 4px;
  border: 1px solid #5a36d6;
  background-color: #6540e0;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
  margin-left: 0px;
}

.result-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.expanded {
  margin-top: 20px;
  border-top: 2px solid #444;
  padding-top: 15px;
}

input {
  padding: 0.3rem 0.4rem;
  min-width: 6rem;
}

button {
  padding: 0.35rem 0.9rem;
  border-radius: 4px;
  border: 1px solid #5a36d6;
  background-color: #6540e0;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
  margin-left: 15px;
}

.card {
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;
}

.result-btn {
  margin-top: 10px;
  margin-left: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.75rem;
  font-size: 0.95rem;
}

thead {
  background-color: #f4f2ff;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.4rem 0.5rem;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}

h1 {
    font-weight: 100;
}